body{
	width: 320px;
	min-height: 520px;
	background-color: #fafafa;
	font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
/*common*/
hr{
	margin-top: 3px;
	margin-bottom: 3px;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
}
li{
	list-style: none;
}
/*header*/
.header{
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#dbdbdb));
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #bbbbbb;
}


.header ul li{
	display: inline-block;
	margin-left: 8px;
}
.header ul>li>a{
	display: block;
}
.header ul>li>a>img{
	height: 18px;
	width: 18px;
}


/*page*/
.pages{
	margin-top: 8px;
	margin-bottom: 8px;
	
}
.pages-container{
	padding-left: 5px;
	padding-right: 5px;
}

.cat-list ul{
	display: none;
}

.cat-list ul>li{
	display: block;
	padding: 3px;
}
.cat-list ul>li:hover{
	background-color: #efefef;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.cat-list ul>li.readed{
	color: #9e9e9e;
}
.cat-list ul>li.readed a{
	color: #9e9e9e;
}
.cat-list ul>li a:hover{
	text-decoration: none;
}
.cat-list ul>li p{
	margin:0;
}
.cat-list ul>li a{
	color: #4d4d4d;
}
.page-title{
	font-size: 14px;
	margin-bottom: 5px;
	letter-spacing: 1px;
	width: 290px;
	overflow:hidden;;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	white-space:nowrap;/* 不换行 */
}
.page-brief{
	font-size: 12px;
	color: #9e9e9e;
	letter-spacing: 1px;
}

/*FOOTER*/
.footer{
	width: 320px;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	border-top: 1px solid #dddddd;
	padding-top: 9px;
	padding-bottom: 9px;
}
.footer ul>li>a{
	display: block;
}
.footer ul>li{
	display: inline-block;
	margin-right: 8px;
}
.footer ul>li img{
	height: 20px;
	width: 20px;
}

/*loading css*/

.spinner {
  display: none;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 10px;
}
 
.spinner > div {
  background-color: #1d1d1d;
  height: 100%;
  width: 6px;
  display: inline-block;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.net-ok{
	color: #1d1d1d;
}


/*pop 正在加载中*/
.pop-div{
	position: absolute;
	height: 444px;
	width: 100%;
	top: 38px;
	left: 0;
	background-color: rgba(0,0,0,.4);
}


/*loading  样式2*/
.spinner2 {
  margin: 150px auto 0;
  width: 50px;
  text-align: center;
}
 
.spinner2 > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
 
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner2 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
 
.spinner2 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


